.section7Row {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.bmwExplained {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

/* .germanProto {
    border-left: 1px solid white;
} */

.artspedRightBorder {
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.germanProtoo,
.bmwExplained,
.ArtAndSpeed {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.germanProtoo img {
    transition: transform 5s ease;
}

.germanProtoo:hover img {
    transform: scale(1.1);
}

.bmwExplained img {
    transition: transform 5s ease;
}

.bmwExplained:hover img {
    transform: scale(1.1);
}

.ArtAndSpeed img {
    transition: transform 5s ease;
}

.ArtAndSpeed:hover img {
    transform: scale(1.1);
}

.overlay-text-left7 {
    padding: 10px 20px;
    border-radius: 5px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: aliceblue;
}

.subtitle {
    font-size: 20px;
    margin: 0;
}

.germanProtoo {
    border-right: 1px solid white;
}

.overlaySec7-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(240, 243, 247);
    padding: 10px;
    text-align: left;
}

.overlay-text-left7 {
    position: absolute;
    bottom: 10px;
    /* background-color: red; */
    left: 10px;
    color: rgb(238, 233, 233);
    padding: 10px;
    text-align: left;
}

.allModel {
    padding: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-text-left7 p {

    color: aliceblue;
}

.overlay-text-left7 p {
    color: aliceblue;
}

@media (max-width: 768px) {
    .section7Row {
        border-top: none;
        border-bottom: none;
    }

    .bmwExplained {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
    }

    .germanProtoo {
        border-right: none;
        border-top: 2px solid white;
    }

    .artspedRightBorder {
        border-top: 1px solid white;
        border-right: 1px solid white;
    }
}